#NavBar {
  display: flex;
  justify-content: space-between;
  position: static;
  width: 100%;
  box-sizing: content-box;
  .navbar-brand {
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Crimson Pro";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    padding: 0.5rem;
    border: 1px solid #fff;
    margin: 0;
  }

  a {
    color: #fff;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media (min-width: 992px) {
    #basic-navbar-nav {
      display: flex;
      justify-content: end;
      .navbar-nav {
        width: 100%;
        width: max-content;

        box-sizing: border-box;

        gap: 3.8rem;
      }
    }
  }
}
